<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dc.sb.dubbo.provider.mapper.IndentMapper" >
  <resultMap id="BaseResultMap" type="com.dc.sb.entity.Indent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="order_money" property="orderMoney" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, serial_number, order_time, uid, order_money
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from indent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from indent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dc.sb.entity.Indent" >
    insert into indent (id, serial_number, order_time, 
      uid, order_money)
    values (#{id,jdbcType=INTEGER}, #{serialNumber,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{uid,jdbcType=INTEGER}, #{orderMoney,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.dc.sb.entity.Indent" >
    insert into indent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="orderMoney != null" >
        order_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="orderMoney != null" >
        #{orderMoney,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dc.sb.entity.Indent" >
    update indent
    <set >
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="orderMoney != null" >
        order_money = #{orderMoney,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dc.sb.entity.Indent" >
    update indent
    set serial_number = #{serialNumber,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      order_money = #{orderMoney,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>